@import url('https://fonts.googleapis.com/css2?family=Emblema+One&display=swap');

* {
  box-sizing: border-box;
}
body {
  background-color: #2d2d2d;
  width: 100%;
  height: 100%;
}
header {
  background-color: #555555;

  padding: 10px 0;
  border-bottom: 1px black solid;
}
p {
  font-family: 'Emblema One', system-ui;
  font-weight: 100;
}
h1 {
  font-family: 'Emblema One', system-ui;
  font-weight: 400;
  font-size: 40px;
  font-style: normal;
  text-align: center;
  color: #ffa500;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
input {
  background-color: #6e6e6e;
  border: black 1px solid;
  height: 30px;
  padding: 10px;
  &::placeholder {
    color: white;
    opacity: 0.5;
  }
  &:focus {
    border: #ffa500 solid 1px;
  }
  &:hover {
    border: #ffa500 solid 1px;
  }
}
footer {
  background-color: #555555;
  padding: 20px;
  border-top: 1px black solid;
  position: absolute;

  bottom: 0;

  width: 100%;
}
.compare-button {
  height: 30px;
  background-color: #dfdede;
  &:hover,
  &:focus {
    background-color: rgb(191, 191, 191);
  }
}

.footer-p {
  font-size: 10px;
  font-family: 'Emblema One', system-ui;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  color: #ffa500;
  bottom: 5;
  left: 5;
}
.dd-span {
  color: #6ac1ff;
}
main {
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.list-item {
  padding: 10px;
  background-color: #555555;
}
